/* Images are styled at 50% */
body{
  background-image: url("../images/background.png");
}
.one {
  width:50%;
  height:auto;
 box-sizing: border-box;
 padding: 5%;
 border-style:solid;
 border-width:5px;
 border-color:blue;
}

.two {
 width:50%;
 height:auto;
 box-sizing: border-box;
 padding: 5%;
 border-style:solid;
 border-width:5px;
 border-color:blue;
}

p {
 margin: 0;
}
/* first way of centering thigns: flex */
.container {
 display: flex;
 justify-content: center;
 align-items:center;
}
.center{
  justify-content: center;
  align-items:center;
}
.animal{
  width: 50%;
  height: auto;
}
/* second way of centering thigns: block */
.another_animal{
  margin-right:auto;
  margin-left:auto;
  width: 50%;
  display:block;
}
.todisappear{
  width:50%;
}
